body {
    background-image: url('../images/background1.jpg');
    background-size: 100%;
    margin: 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 44.6px;
    text-decoration: none;
    font-size: 200%;
    font-family: "Segoe UI",Arial,sans-serif;
}
a {
    color: white;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
.container{
    width: 1070px;
    margin-left: auto;
    margin-right: auto;
}
.aanbieding{
    width: 1070px;
    height: 55px;
    background-color: #292929;
    color: #ffdb00;
    text-align: center;
    margin-top: 10px;
    font-size: 120%;
    margin-bottom: 5px;
}
.content2 {
    width: 260px;
    height: 300px;
    background-color: #333;
    color: white;
    text-align: center;
    margin-top: 10px;
    font-size: 120%;
    margin-left: 6px;
    float: left;
}
.content2 img{
    margin-top: 5px;
    width: 250px;
    height: 150px;
    background-color: black;
}
.content2 h2{
    font-size: 30px;
    text-align: center;
}
.content2 hr{
    width: 200px;
}
s{
    color: #970001;
    text-decoration: line-through;
}
.active{
    background-color: #00bf00;
}